<div class ="page-title"> Ajouter un utilisateur </div>
<div class="card">
  <div class="name-image">
    <label for="name" >
      Titre
      <input class="input-custom"type="text" id="name" [formControlName]="'name'">
    </label>
    <label for="image" >
      Theme
      <input class="input-custom" type="text" id="image" [formControlName]="'theme'">
    </label>
  </div>
  <div class="form-group severity-form">
    <div class="radio-button">
      <label class="form-group-title">Stade d'Alhzeimer :</label>
      <div class="stade">
        <label> <span>Léger</span>
          <input type="radio" value="light" name="radioGroup" [formControlName]="user.stade" >
        </label>
        <label> <span>Moyen</span>
          <input type="radio" value="medium" name="radioGroup" [(ngModel)]="user.stade">
        </label>
        <label> <span>Lourd</span>
          <input type="radio" value="heavy" name="radioGroup" [(ngModel)]="user.stade" >
        </label>
      </div>
    </div>
  </div>
</div>



