@import "../../styles/variables";

:host {
  color: $white;
}

.header {
  overflow: hidden;
  background-color: #70acdc;
  top: 0;
  width: 100%;
}

.header a , .header input[type=text], .header .search-container button{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 25px;
  font-family: calibri ;
  font-weight: 700;
}

.header a:hover {
  background: rgb(92, 100, 212);
  color: rgb(0, 0, 0);
}

.header input[type=text] {
  width: 800px;
  padding: 6px;
  margin-top: 20px;
  font-size: 25px;
  border: none;
}

.header .search-container button {

  padding: 12px 10px;
  margin-top: 20px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
