@import '../../../styles/texts.scss';
@import '../../quizzes/quiz-form/quiz-form.component.scss';

.card-play {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;


.felicitation{
  text-align: center;
  color:rgb(0, 0, 151)
}

td{
  vertical-align: middle;
  padding: 0.5rem;
}

.question{
  width: 800px;
}
.answer{
  text-align: center;
  width : 100px
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.1em;
  line-height: 48px;
  padding-bottom: 40px;
  color: #5543ca;
  background: #5543ca;
  background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
  background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
  background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}


.image{
  width : 140px;
  height : 100px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border-style: hidden;
  font-size: 18px;
  border: 2px solid rgb(248, 18, 114);

}

table tr {
  vertical-align: middle;
  padding: 0.5rem;
}
.buttons{
 justify-content: center;
 align-items: center;

}

.button_rep{
    margin-right: 10%;
    background-color:  #d9d9f0;
    border : none ;
    padding : 1em;
    border-radius : 5px;
    color : #06023b;
    font-weight: bold;
    width: 25%;
    cursor : pointer;
  }
  
   .button_rep:hover{
    box-shadow: 0px 7px 7px #b2bebc ;
    color : #eb4d4b;
  }
}