<div class='card-play'>
    <div class ="title"> Recapitulatif Final</div>
      <table class="table">
        <tr *ngFor="let question of questions; let q=index;">
          <td class="question">{{ question.label }}</td>
          <td class="answer">{{getCorrectAnswer(q).value}} 
            <br><img class="image"  src="{{getCorrectAnswer(q).image}}">
          </td>
        </tr>
      </table>
      <br>
      <div class="buttons">
      <button class="button_rep" (click)="replay()"> Refaire le quiz</button>
      <button class="button_rep" (click)="exit()" >Faire un autre quiz</button>
    </div> 
    </div>