<section class="get-in-touch">
  <h1 class="title">AJOUT QUIZ</h1>
  <form class="contact-form row" [formGroup]="quizForm">
    <div class="form-field col-lg-6">
      <input id="name" class="input-text js-input" type="text" [formControlName]="'name'"placeholder="Titre *" required>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="email" class="input-text js-input" type="email" [formControlName]="'theme'"placeholder="Theme *"required>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="company" class="input-text js-input" type="text" [formControlName]="'image'"placeholder="Image">
    </div>
    <div class="form-field col-lg-12">
      <button type="submit" class="submit-btn" (click)="addQuiz()">Ajouter</button>
    </div>
  </form>
</section>










