<div class ="page-title"> AJOUT QUIZ </div>
<div class="card">
  <br>
  <form class="quiz-form" [formGroup]="quizForm">
    <div class="titre-theme">
      <label for="title" class="title">
        Titre
        <input class="input-custom" type="text" id="name" [formControlName]="'name'">
      </label>
      <label for="theme" class="theme">
        Theme
        <input class="input-custom" type="text" id="theme" [formControlName]="'theme'">
      </label>
    </div>
    <br><br>
    <label for="image">
      Image
      <input class="input-custom-2" type="text" id="theme" [formControlName]="'image'">
    </label>
    <br><br><br><br>
    <div style='text-align:center'>
      <button type="submit" class="button-card" (click)="addQuiz()">Ajouter</button>
    </div>
  </form>
</div>
