

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.1em;
  line-height: 48px;
  padding-bottom: 40px;
  color: #5543ca;
  background: #5543ca;
  background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
  background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
  background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 60px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,
  -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  background-image: linear-gradient(125deg,#a72879,#064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}



.answer-form {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.input-custom {
  margin-top : 10px;
  display: inline-flex;
  padding : 0 10px ;
  color : rgb(0, 0, 0);
  height : 100%;
  font-size: 20px;
  width: 650px;
}

.button{
  border-radius: 50%;
  height : 27px;
  cursor : pointer;
}




.input-reponse:focus{
    border-color:dodgerBlue;
box-shadow:0 0 8px 0 dodgerblue;
}

.right{
  display: block;
  float:right;
  margin-right: 150px;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(240, 69, 69);
}

.correct{
  font-size: 20px;
}
.input-reponse {
  display: inline-flex;
  padding : 0 3px ;
  color : rgb(0, 0, 0);
  height : 100%;
  font-size: 18px;
  width: 250px;
  border: 2px solid #aaa;
  border-radius:4px;
  transition:.3s;
  box-sizing: border-box;
 outline: none;
}

