<section class="get-in-touch">
<div class ="title"> AJOUTER QUESTION </div>
<div class="card">
  <form class="contact-form row" [formGroup]="questionForm">

    <div class="form-field col-lg-6">
      <input id="name" class="input-text js-input" type="text" [formControlName]="'label'"placeholder="Intitulé de la question *" required>
    </div>

    <div class="form-field col-lg-6">
      <input id="indice" class="input-text js-input" type="text" [formControlName]="'indice'"placeholder="Ajouter un indice " required>
    </div>

    Ajouter une Réponse
    <button  class="button" (click)="addAnswer()">
      <span><i class="fa fa-plus"></i></span>
    </button>

    <div *ngIf="alert" class="right">
      <i class='fas fa-exclamation-circle'></i>
      Maximum 4 réponses possibles  </div>
    <div class="row" formArrayName="answers">
      <div class="column" *ngFor="let address of answers.controls; let i=index">
        <div class="answer-form" [formGroupName]="i">
          <input type="text" class="input-reponse" placeholder="reponse" [formControlName]="'value'">
          <br>
          <input type="text" class="input-reponse" placeholder="image" [formControlName]="'image'">
          <br>
          <span class="correct">Correct </span>
          <input type="checkbox" [formControlName]="'isCorrect'">     <br>
        </div>
      </div>
    </div>
    <br>

    <br> <br>
    <div style='text-align:center'>
      <button type="submit" class="submit-btn" (click)="addQuestion()">Ajouter</button>
    </div>
  </form>
</div>
</section>
