@import "../../../app/app.component.scss";
@import '../../quizzes/quiz-form/quiz-form.component.scss';

.answer-form {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.input-custom {
  margin-top : 10px;
  display: inline-flex;
  padding : 0 10px ;
  color : rgb(0, 0, 0);
  height : 100%;
  font-size: 20px;
  width: 650px;
}

.button{
  border-radius: 50%;
  height : 27px;
  cursor : pointer;
}


.input-reponse:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerblue;
}

.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap :10px;
  grid-row-gap: 10px;
}

.right{
  display: block;
  float:right;
  margin-right: 150px;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(240, 69, 69);
}

.correct{
  font-size: 20px;
}
.input-reponse {
  display: inline-flex;
  padding : 0 3px ;
  color : rgb(0, 0, 0);
  height : 100%;
  font-size: 18px;
  width: 200px;
  border: 2px solid #aaa;
  border-radius:4px;
  transition:.3s;
  box-sizing: border-box;
 outline: none;
}

