<div *ngIf="!isEnd()"class='card-play' >

    <div class="left"> <span class="question-number"> Question {{indexQuiz + 1}} / {{quiz.questions.length}} </span> </div>
    <div class="right"> <span class="question-number"> {{quiz.name}} </span> </div>
    <br><br>
    <div class="question-title">{{quiz.questions[indexQuiz].label}}</div>
    <div   *ngIf="!resultAffiche" >
    <div class="row">
    <div class="column" *ngFor="let answer of quiz.questions[indexQuiz].answers ; let i = index;">
        <img class="image" (click)="incrementCorrect(quiz.questions[indexQuiz].answers[i].value)" src="{{quiz.questions[indexQuiz].answers[i].image}}">
        <button class="button_rep" (click)="incrementCorrect(quiz.questions[indexQuiz].answers[i].value)"  >
                {{quiz.questions[indexQuiz].answers[i].value}}</button>
    </div>
    </div>
    </div>
    <div *ngIf="resultAffiche">
    <div class="row">
        <div class="column">
            <img class="image_result"  src="{{this.getCorrectAnswer().image}}"><br>
            <div class="text_result " >{{getCorrectAnswer().value}}</div>
        </div>
    </div>
    </div>
</div>