<div *ngIf="quiz " >
<div *ngIf="begin " class="yes-no">
    <p class="span">Quiz {{quiz.name}}</p>
    </div>

    <div *ngIf="!begin ">
  <div *ngIf="toYesNo" class="yes-no">
  <p class="span">Questions avec <br>VRAI - FAUX</p>
  </div>

  <div *ngIf="!isEnd()"class='card-play' >
    <table>
        <td class="number"><span class="quiz-info">
             Question {{indexQuiz + 1}} / {{getQuestion().length}} </span>
            </td>
        <td class="question"> <span class="question-title">{{getQuestion()[indexQuiz].label}}
        </span></td>
        <td  class="name"> <span class="quiz-info"> {{quiz.name}} </span> </td>
    </table>

    <div   *ngIf="!resultAffiche" >
    <div class="row">
    <div class="column" *ngFor="let answer of  getAnswers() ; let i = index;">
        <img class="image" (click)="answerQuestion(getQuestion()[indexQuiz].answers[i])" src="{{getQuestion()[indexQuiz].answers[i].image}}">
       <br> <button  [id]="'nombre'+i" class="button_rep" (click)="answerQuestion(getQuestion()[indexQuiz].answers[i])"  >
                {{getQuestion()[indexQuiz].answers[i].value}}</button>
    </div>
    </div>
    <span class="hints" *ngIf="user.hint && indice && getQuestion()[indexQuiz].indice">
      Indice : {{getQuestion()[indexQuiz].indice}}
    </span>
        <div style="text-align: center" *ngIf="user.vocal">
            <strong>{{this.voiceInfo}} {{text}}</strong>
        </div>
        <main>
            <section>
                <div class="voice_wave" id="sound" style="text-align: center; visibility:visible;" *ngIf="user.vocal" >
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </section>
        </main>
    </div>

    <div  *ngIf="resultAffiche">
    <div class="row">
        <div class="column">
            <h1 > La réponse correcte est :</h1>
            <img class="image_result"  src="{{this.getCorrectAnswer().image}}"><br>
            <div class="text_result " >{{getCorrectAnswer().value}}</div>
        </div>
    </div>
    </div>
  </div>
  <app-yes-no-quiz [questions]="questionList" *ngIf="isEnd() && !toYesNo && user.withRecap"></app-yes-no-quiz>
  <app-recap-quiz [questions]="getQuestion()" *ngIf="isEnd() && !toYesNo && !user.withRecap"></app-recap-quiz>

  </div>
</div>


