@import '../../../styles/play-card.scss';
@import '../../../styles/voice-wave.scss';
.hints{
  margin-left: 625px;
  font-size: 35px;
  margin-top: 900px;
}

.span{
  margin-top: 200px;
  font-size: 50px;
  font-weight: bold;
  color: #c85306;
  margin-right : 350px;
  margin-left : 350px;
  text-align: center;
  border-top : 6px solid #c85306;
  border-bottom: 6px solid #c85306;
  line-height: 70px;
}

