@import '../../../styles/texts.scss';
@import '../../../styles/search-bar.scss';
@import "../../../app/app.component.scss";


.quiz-list {
  padding : 3em ;
}


.quiz-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap :10px;
  grid-row-gap: 10px;
}

.nom{
  font-size: 30px;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 2%;
}


.image{
  width: 15%;
  height: 15%;
  border-radius: 10px;
  margin-bottom: 2%;}

  .bt{
    margin-top: 0%;
    margin-left: 10%;
    margin-bottom: 2%;
  }

.button{
  height : 50px;
  padding : 0 ;
  background-color: #009578;
  border : none;
  outline : none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Quicksand' , sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor : pointer;
}
.retour{
  height : 50px;
  background-color: #009578;
  border : none;
  outline : none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Quicksand' , sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor : pointer;
}

.button:hover{
  background-color: #006e58;

}

.buttontext, .buttonicon {
 display: inline-flex;
  align-items: center;
  padding : 0 24px ;
  color : white;
  height : 100%;
  font-size: 20px;
  font-weight: bold;
}

.button__icon{
  font-size: 1.6m;
  background: rgba(0,0,0,0.08);
}

.all{
  margin-top: 1%;
}

.pagination{
  margin: 2%;
  text-align: center
}