<div *ngIf="user">
  <span *ngIf="user.role===0" class="nom" > Bienvenue {{user.name}}

  </span>

    <div class="all" >
    <button *ngIf="user.role===1" type="button" class="retour" routerLink="/choice-admin/1">
      <i class="fa fa-angle-double-left" style="font-size:25px; color:white"></i>
      <span class="buttontext"> retour</span>
    </button>
  </div>

  <span class="search-container">
    <input type="text" placeholder="Recherchez un Quiz..." name="search " [(ngModel)]="searchText">
    <button type="submit"><i class="fa fa-search"></i></button>
  </span>
  <span class="bt">
    <button *ngIf="user.role===1" class="button" type="button" routerLink="/quiz-add/{{idUser}}">
        <span class="buttontext"> Ajouter Quiz</span>
        <span class="buttonicon"><i class="fa fa-plus"></i></span>
    </button></span>
    <br><br>



    <div class="quiz-container">
    <div class="quiz" *ngFor="let quiz of quizList  | filter:searchText" >
        <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)" (deleteQuiz)="deleteQuiz($event)" (editQuiz)="editQuiz($event)"
                  [idUser]="idUser" ></app-quiz>
    </div>
  </div>

  

  </div>

