@import "../../../app/app.component.scss";
@import '../user-add/user-add.component.scss';


.button-card:hover{
  box-shadow: 0px 5px 5px #b2bebc ;
  color : #eb4d4b;
}

.button-card{
  background-color:  #d9d9f0;
  font-size: 17px;
  border : none ;
  padding : 1em;
  margin: 20px;
  border-radius : 10px;
  width: 200px;
  height: 60px;
  color : #06023b;
  font-weight: bold;
  cursor: pointer;
}



#list{
  float:left;
  width:20%;
}

#main{
  float:right;
  width:80%;
}
.text1{
  border-bottom: 3px solid #134856;;
}

.red{
  color: red;
}
.title{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.9em;
  line-height: 48px;
  padding-bottom: 30px;
  color: #5543ca;
  background: #5543ca;
  background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
  background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
  background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.user-picture {
  position: absolute;
  right: 5vw;
  top: 20vh;
  width: 125px;
  height: 100px;
  border: 3px black solid;
  padding: 5px;
  border-radius: 10px;
}
.text{
  font-size: 1.5em;
}
.user{
  padding-top:20px;
  position: absolute;
  right: 7vw;
  top: 13vh;
  font-weight: bold;
}

.activer{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background: #f6f6f6;
  border: 2px solid #134856;
  border-radius: 5px;
  height: 20px;
  padding: 0 30px;
  margin-left: 1em;
  margin-right: 1em;
  color: #134856;
  font-family: Lato, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  will-change: transform;
  font-weight: bold;
}

.activer:hover{
  box-shadow: 0px 3px 3px #134856;
}
p {
  padding: 0.5rem;
  font-weight: 600;
}
.aucun{
  right:37vw;
  text-decoration: underline;
  color: #134856;
  position: absolute;
}
