<app-header-logout></app-header-logout>
<div class="main-content">
  <div class="header">
    <h1 class="title">Historique </h1>
    <div class="user"> <i class="fa fa-user"></i>{{user.name}}</div>
    <img *ngIf="user" src="{{user.image}}" alt="user-picture" class="user-picture">


  </div>
  <div class="card" >
    <div id="list">
      <div class="element" *ngFor="let instance of history" routerLink="/user-history/{{user.id}}">
        <span class="name"><button class="button-card"(click)="chooseQuizHistory(instance.id)">{{instance.name}}</button></span>
      </div>
    </div>
    <div id="main">
      <div *ngIf="!historyQuiz">
        <h2 class="aucun">Aucun historique séléctionné</h2>
      </div>

      <div *ngIf="historyQuiz" >
        <h2 class="aucun">QUIZ : {{historyQuiz.name}}</h2>
        <br><br>
        <div class="text1"*ngFor="let question of historyQuiz.questions let i=index" >
          <h4 [ngStyle]="{'color':isDisabled(question.nom) ?  'grey' : none }">
            <span style="text-decoration: underline;" [ngStyle]="{ 'color':isDisabled(question.nom) ?  'grey' : '#8047a8' }"> Question {{i+1}} :</span> {{question.nom}}
            <button class="activer"(click)="disable(question.nom)">{{isDisabled(question.nom) ? 'Reactiver' : 'Desactiver'}}</button>
          </h4>
          <h3 [ngStyle]="{'color':isDisabled(question.nom) ?  'grey' : '#ff7c01' }" style=" text-align: center; ">           <i class="fas fa-arrow-alt-circle-right"></i>
            {{getNbCorrect(question)}}/{{question.answers.length}} réponses justes  <button class="activer"(click)="afficher ?  cacher() : affiche(question)"> {{afficher && this.current === question.nom ? 'cacher détails' : 'afficher details'}} </button></h3>
          <div  [hidden]="!afficher" *ngIf="question.nom===current"  >
            <div *ngFor="let ans of question.answers ">
              <div [ngStyle]="{'color':ans.correct ? 'green' : 'red' }">
                <h4> {{user.name}} a répondu : {{ans.answer}}  le {{ans.date | date:'short'}}</h4>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
