<div class ="page-title"> Modifier un utilisateur </div>
<div class="card">

  <form (ngSubmit)="updateUser()" *ngIf="user" #f="ngForm" >
    {{user.name}}
    <div class="quiz-form">
      <div class="titre-theme">
        <label for="name" >Nom
          <input class="input-custom" type="text" id="name" name="name" [(ngModel)]="user.name" required>
        </label>
        <label for="image" >Image
          <input class="input-custom" name="image" type="text" id="image" [(ngModel)]="user.image">
        </label>
      </div>
    </div>

    <div class="form-group severity-form">

      <div class="radio-button">
        <label class="form-group-title">Stade d'Alhzeimer :</label>
        <br>
        <div class="stade">
          <label> <span>Léger</span>
            <input type="radio" value="leger" name="radioGroup" [(ngModel)]="user.stade" (change)=" addOptions(f)" >
          </label>
          <label> <span>Modéré</span>
            <input type="radio" value="modere" name="radioGroup" [(ngModel)]="user.stade" (change)="addOptions(f)">
          </label>
          <label> <span>Sévère</span>
            <input type="radio" value="severe" name="radioGroup" [(ngModel)]="user.stade" (change)="addOptions(f)">
          </label>
        </div>
      </div>

      <div >
        <label>
          <input type="checkbox" name="hints" [(ngModel)]="user.hint" disabled>
          Ajout d'indices
        </label>
        <label>
          <input type="checkbox" name="yes-no-recap" [(ngModel)]="user.withRecap" disabled>
          Récapitulatif avec questions vrai/faux
        </label>
        <label>
          <input type="checkbox" name="delete-false" [(ngModel)]="user.deleteFalseAnswer" disabled>
          Suppression des réponses fausses
        </label>
        <div>
          <label>
            <input type="checkbox" name="vocal-quiz" [(ngModel)]="user.vocal" disabled>
            Répondre par voix
          </label>
          <label>
            <input type="checkbox" name="vocal-quiz" [checked]="!user.vocal" disabled>
            Répondre par clic
          </label>

        </div>

      </div>

    </div>

    <div style='text-align:center'>
      <button class="button-card"  type="submit" [disabled]="f.invalid">Modifier</button>
      <div [hidden]="f.valid" >
        Remplir les champs svp !
      </div>
    </div>

  </form>
</div>
