<section class="get-in-touch">
<div class ="title"> Modifier un utilisateur </div>
<div class="card">

  <form (ngSubmit)="updateUser()" *ngIf="user" #f="ngForm" class="contact-form row" >
    <div class="form-field col-lg-6">
      <input id="name" class="input-text js-input" type="text" name="name" [(ngModel)]="user.name" placeholder="Nom *" required>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="image" class="input-text js-input" type="text" name="image"[(ngModel)]="user.image"placeholder="Image *">
    </div>

    <div class="radio-button">
      <div class="stade">
        <label class="form-group-title">Stade d'Alhzeimer :</label>
        <label> <span>Léger</span>
          <input type="radio" value="leger" name="radioGroup" [(ngModel)]="user.stade" (change)=" addOptions(f)" >
        </label>
        <label> <span>Modéré</span>
          <input type="radio" value="modere" name="radioGroup" [(ngModel)]="user.stade" (change)="addOptions(f)">
        </label>
        <label> <span>Sévère</span>
          <input type="radio" value="severe" name="radioGroup" [(ngModel)]="user.stade" (change)="addOptions(f)">
        </label>
      </div>
    </div>

    <div >
      <label class="container">
        <input type="checkbox" name="hints" [(ngModel)]="user.hint" disabled>
        Ajout d'indices
      </label>
      <label class="container">
        <input type="checkbox" name="yes-no-recap" [(ngModel)]="user.withRecap" disabled>
        Récapitulatif avec questions vrai/faux
      </label >
      <label class="container">
        <input type="checkbox" name="delete-false" [(ngModel)]="user.deleteFalseAnswer" disabled>
        Suppression des réponses fausses
      </label>
      <div>
        <label class="container">
          <input type="checkbox" name="vocal-quiz" [(ngModel)]="user.vocal" disabled>
          Répondre par voix
        </label>
        <label class="container">
          <input type="checkbox" name="vocal-quiz" [checked]="!user.vocal" disabled>
          Répondre par clic
        </label>

      </div>

      </div>


    <div style='text-align:center'>
      <button class="submit-btn"  type="submit" [disabled]="f.invalid">Modifier</button>
    </div>

  </form>
</div>
</section>
