<div class="card">
    <div class="text">
        <div class="title">{{quiz.name}}</div>
        <img  class="image"src="{{quiz.image}}">
        <button class="button-card" routerLink="/quiz-play/{{idUser}}/{{quiz.id}}"><i class="fa fa-play"></i>    Jouer</button>
        <button class="button-card" (click)="delete()"> <i class="fa fa-trash"> </i>    Supprimer</button>
        <button class="button-card" routerLink="/edit-quiz/{{quiz.id}}"> <i class="fa fa-pen"></i>    Modifier</button>

    </div>
</div>
