<app-header></app-header>
<div class="main-content">
    <router-outlet></router-outlet>
</div>
<div class="container text-center">
  </div>
  <div class="container">
    <div class="row">
      <div class="search-quiz">
        <input class="form-control" type="text" name="Recherche" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Rechercher un quiz">
      </div>
      <table class="table table-striped">

        <tbody>


        </tbody>
      </table>
    </div>
  </div>
