

      <button type="button" class="retour" routerLink="/choice-admin/1">
        <i class="fa fa-angle-double-left" style="font-size:25px; color:white"></i>
        <span class="buttontext"> retour</span>

    </button>
      <span class="bt">
    <button type="button" class="button" routerLink="/user-add">
        <span class="buttontext"> Ajouter Utilisateur</span>
        <span class="buttonicon"><i class="fa fa-plus"></i></span>
    </button>
    </span>
    <div class="quiz-container">
    <div class="user" *ngFor="let user of userList">
        <app-user [user]="user" (userSelected)="userSelected($event)" (deleteUser)="deleteUser($event)" (editUser)="editUser($event)"></app-user>
    </div>
  </div>
