@import '../../quizzes/quiz-form/quiz-form.component.scss';
@import "../../../app/app.component.scss";

.input-custom {
  margin-top : 10px;
  display: inline-flex;
  padding : 0 30px ;
  color : rgb(0, 0, 0);
  height : 100%;
  font-size: 20px;
}


.right{
  display: block;
  float:right;
  margin-right: 150px;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(240, 69, 69);
}


.theme {
  padding: 80px;
}

.input-custom-2 {
  margin-top : 10px;
  display: inline-flex;
  padding : 0 30px ;
  color : rgb(0, 0, 0);
  height : 100%;
  font-size: 20px;
  width: 660px;
}
.titre-theme{
  text-align: center;
}

.button{
    border-radius: 50%;
    height : 27px;
    cursor : pointer;
}
