<button class="button-card" routerLink="/quiz-list">Back</button>
<div class ="page-title"> MODIFIER QUIZ </div>
<div class="card">
      <div class="titre-theme">
        <label for="title" class="title">
          Titre  : {{quiz.name}}
        </label>
        <label for="theme" class="theme">
          Theme : {{quiz.theme}}
        </label>
      </div>
      <br>

      <div class="titre-theme">
        <img class="image"  src="{{quiz.image}}">
        </div>
      <br>
      
      <div style='text-align:center'>
        Ajouter une Question      
        <button routerLink="/add-question/{{quiz.id}}" class="button" >
          <span><i class="fa fa-plus"></i></span>
      </button>      <br> <br>
        </div>
      <app-question-list [quiz]="quiz"></app-question-list>
      <br>
      <div style='text-align:center'>
      <button type="submit" class="button-card" routerLink="/quiz-list/">Confirmer</button>
      </div>
