<button class="button-card" routerLink="/quiz-list">Back</button>
<div class ="page-title"> MODIFIER QUIZ </div>
<div class="card" *ngIf="quiz">
  <form class="quiz-form" [formGroup]="quizForm">
    <div class="titre-theme">
      <label for="title" >
        Titre
        <input class="input-custom"type="text" id="title" [formControlName]="'name'">
      </label>
      <label for="theme" >
        Theme
        <input class="input-custom" type="text" id="theme" [formControlName]="'theme'">
      </label>
    </div>
    <br><br>
    <label for="image">+
      Image
         <input class="input-custom-2" type="text" id="image" [formControlName]="'image'">
    </label>
    <br><br><br><br>
      <div style='text-align:center'>
        Ajouter une Question
        <button routerLink="/add-question/{{id}}" class="button" >
          <span><i class="fa fa-plus"></i></span>
      </button>      <br> <br>
        </div>
      <app-question-list [quiz]="quiz"></app-question-list>
      <br>
      <div style='text-align:center'>
      <button type="submit" class="button-card" (click)="editquiz()">Confirmer</button>
      </div>
  </form>
</div>
